<?xml version="1.0"?>
<launch>
    <!-- 启动命令发布节点 -->
    <!-- <node pkg="com" type="command_publisher.py" name="command_publisher" output="screen"> -->
        <!-- 可以在这里添加参数 -->
    <!-- </node> -->

    <!-- 启动命令处理节点 -->
    <!-- <node pkg="com" type="command_processor.py" name="command_processor" output="screen"> -->
        <!-- 可以在这里添加参数 -->
    <!-- </node> -->

    <!-- 启动命令解析节点 -->
    <!-- <node pkg="com" type="command_parser.py" name="command_parser" output="screen"> -->
        <!-- 可以在这里添加参数 -->
    <!-- </node> -->

    <!-- 启动任务控制节点 -->
    <!-- <node pkg="com" type="task_control.py" name="task_control" output="screen"> -->
        <!-- 可以在这里添加参数 -->
    <!-- </node> -->

    <!-- 启动任务命令节点 -->
    <!-- <node pkg="com" type="task_command.py" name="task_command" output="screen"> -->
        <!-- 可以在这里添加参数 -->
    <!-- </node> -->

    <!-- 启动方向控制节点 -->
    <!-- <node pkg="com" type="direct.py" name="direct_control" output="screen"> -->
        <!-- 可以在这里添加参数 -->
    <!-- </node> -->

    <!-- 启动编码基础节点 -->
    <node pkg="com" type="encode_base.py" name="encode_base" output="screen">
        <!-- 可以在这里添加参数 -->
    </node>

    <!-- 启动解码节点 -->
    <!-- <node pkg="com" type="decode.py" name="decode" output="screen"> -->
        <!-- 可以在这里添加参数 -->
    <!-- </node> -->

    <!-- 启动解码节点 -->
    <!-- <node pkg="com" type="decode.py" name="decode" output="screen"> -->
        <!-- 可以在这里添加参数 -->
    <!-- </node> -->
</launch>
